@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;300;400;600&display=swap');

body {
  font-family: 'IBM Plex Serif', serif;
  font-size: 1rem;
  background-color: #F8EDE3;
  color: #3A3C3A;
}

h2 {
  font-size: 4rem;
  font-weight: 300;
  color: #3A3C3A;
}

p {

}

hr {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

input {
  width: 100%;
  height: 3rem;
  background-color: #09594E;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 0;
  font-family: 'IBM Plex Serif', serif;
  font-size: 1rem;
  color: #F8EDE3;
  font-weight: 300;
  margin-top: 1rem;
  cursor: pointer;
}

table {
    border: solid 1px #3A3C3A;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1rem;
}
th {
    background-color: #DDEFEF;
    border: solid 1px #3A3C3A;
    color: #09594E;
    padding: 10px;
    text-align: left;
}
tbody td {
    border: solid 1px #3A3C3A;
    color: #333;
    padding: 10px;
}

footer {
  padding: 2rem;
  background-color: white;
  p {
    font-size: 0.9rem;
}
}

.comboboxNationality {
  padding-right: 1rem;
}

.header-image {
  margin-top: 1rem;
  height: 40vh;
}

.container {
}
